{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% progressive_web_app_meta %}
    <link rel="icon" href="https://raw.githubusercontent.com/HenriqueTorresA/ContractGenerator/refs/heads/master/app_cg/static/images/stardm.png">
    <title>Gerador de Contratos</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cleave.js@1/dist/cleave.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.11/fullpage.min.js"></script>

    {% block styles %}{% endblock %}

    <style type="text/css">
        /* Seus estilos customizados podem ser mantidos aqui ou movidos para o styles.css */
        #barra_lateral {
            background-color: #0B274D !important;
        }

        #barra_superior {
            /* background-color: #284e81 !important; */
            background-color: #0B274D !important;
        }

        .nav-link, .nav-icon, .brand-link {
            color: #FFFFFF !important;
        }

        .custom-primary-link {
            background-color: #284e81 !important;
            border-color: #284e81 !important;
            color: white !important;
            text-align: center !important; 
        }
        .custom-primary-link:hover {
            background-color: #0b274d !important;
            border-color: #0b274d !important;
        }
        .card-customizado {
            background-color: #eef2fb;
        }
        .content-wrapper {
        min-height: calc(100vh - 57px); /* ajusta com a altura real do header/navbar */
        }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <nav class="main-header navbar navbar-expand navbar-white navbar-light" id="barra_superior">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
        </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4" id="barra_lateral">
        <a href="{% url 'home' %}" class="brand-link">
            <img src="https://raw.githubusercontent.com/HenriqueTorresA/ContractGenerator/refs/heads/master/app_cg/static/images/stardm.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Star Dokmus</span>
        </a>

        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link">
                            <i class="nav-icon fas fa-home"></i>
                            <p>Página Inicial</p>
                        </a>
                    </li>
                    <li class="nav-header">DOCUMENTOS</li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-file-signature"></i>
                            <p>
                                Novo Contrato
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/tela-de-negociacao/" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Contrato de Espaço</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/tela-de-negociacao-decoracao/" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Contrato de Decoração</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-eye"></i>
                            <p>
                                Visualizar Contratos
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/contratos-ativos/" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Contratos Ativos</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/contratos-vencidos/" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Contratos Vencidos</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'templates' %}" class="nav-link">
                            <i class="nav-icon fas fa-file"></i>
                            <p>Templates</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contratos' %}" class="nav-link">
                            <i class="nav-icon fas fa-file-invoice"></i>
                            <p>Documentos</p>
                        </a>
                    </li>
                    <li class="nav-header">CONFIGURAÇÕES</li>
                    {% if usuario.permissoes in 'gestor admin' %}
                        <li class="nav-item">
                            <a href="{% url 'lista_usuarios' %}" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>Usuários</p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            </div>
        </aside>

    <!-- Content Wrapper -->
    <div class="content-wrapper">
        <!-- Content Main -->
        <section class="content">
        <div class="container-fluid">
            {% block conteudo %}
    
            {% endblock %}
        </div>
        </section>
    </div>
    
    <footer class="main-footer">
        <strong>Copyright &copy; 2025 <a href="#">Star Dokmus</a>.</strong>
        Todos os direitos reservados.
        <div class="float-right d-none d-sm-inline-block">
            <b>Versão</b> 1.0
        </div>
    </footer>
</div>

{% block scripts %}{% endblock %}

<script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js')
      .then(function(registration) {
          console.log('Service Worker registrado com sucesso: ', registration.scope);
      })
      .catch(function(error) {
          console.log('Falha ao registrar o Service Worker: ', error);
      });
    }

    // Lógica para o prompt de instalação do PWA
    let deferredPrompt;
    window.addEventListener('beforeinstallprompt', (e) => {
        e.preventDefault();
        deferredPrompt = e;
        // Aqui você pode mostrar um botão de "Instalar App" se desejar.
    });
</script>

</body>
</html>