{% extends 'cg/base.html' %}
{% block conteudo %}
{% load static %}

<!-- Estrutura de exclusão usando Bootstrap -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h2 class="card-title">Tem certeza de que deseja excluir o usuário <strong>"{{ usuario.nome }}"</strong>?</h2>
                    
                    <form method="POST" class="mt-4">
                        {% csrf_token %}
                        <div class="d-grid gap-2 d-md-block">
                            <button type="submit" class="btn btn-danger" id="btn_exclir">Excluir</button>
                            <a href="{% url 'lista_usuarios' %}" class="btn btn-secondary" id="btn_excluir">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
