{% extends 'cg/base.html' %}
{% block conteudo %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap4.min.css">
  <style>
    #teste {
        padding: 50px;
    }
  </style>
{% endblock %}

<div class="modal fade" id="modal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="usuarioForm" method="post" enctype="multipart/form-data" action="{% url 'cadastro' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Novo Usuário</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="limparTemplate()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="operacao" id="operacao" value="0">
                    <input type="hidden" name="codusuario" id="codusuario" value="0">
                    <input type="hidden" name="codempresa" id="codempresa" value="{{ codempresa}}">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome do usuário" maxlength="100" required>
                        <div id="nome-erro" class="invalid-feedback" style="display: none;">Campo obrigatório!</div>
                    </div>

                    <div class="form-group">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" name="cpf" id="cpf" maxlength="14" placeholder="000.000.000-00" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" name="email" id="email" maxlength="80" placeholder="E-mail" required>
                    </div>

                    <div class="form-group password-container">
                        <label for="cpf">Senha</label>
                        <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha" required>
                    </div>
                    
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="permissao" class="form-label fw-bold">Permissão:</label>
                            <div class="input-group">
                                <span class="input-group-text bg-primary text-white">
                                    <i class="fas fa-user-shield"></i>
                                </span>
                                <select id="permissao" name="permissao" class="form-select" required>
                                    {% if usuario.permissoes == 'admin' %}
                                        <option value="admin" selected>Admin</option>
                                    {% endif %}
                                    <option value="gestor" {% if usuario.permissoes == 'gestor' %}selected{% endif %}>Gestor</option>
                                    <option value="colaborador" {% if usuario.permissoes == 'colaborador' %}selected{% endif %}>Colaborador</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-6 mt-4">
                            <div class="custom-checkbox custom-control">
                                <input type="checkbox" name="check2fa" id="check2fa" class="custom-control-input" checked="true">
                                <label for="check2fa" class="custom-control-label">Autenticação em 2 Fatores (recomendado)</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="limparTemplate()">Fechar</button>
                    <button type="submit" class="btn btn-primary" id="btn_salvar-template">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<section class="content">
    <div class="card">
        <div class="card-header">
            <h3>Lista de Usuários Cadastrados</h3>
            <div class="card-tools">
                <div class="row mb-3">
                    <div class="col-12 text-right">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal" onclick="limparTemplate()">
                            <i class="fas fa-plus"></i> Novo Usuário
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="tabela-usuarios" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Login</th>
                        <th>Permissão</th>
                        <th class="text-center" style="width: 120px;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        {% if usuario.permissoes == 'admin' and podemostraradmin == 1 or usuario.permissoes != 'admin' %}
                            <tr>
                                <td>{{ usuario.nome }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.login }}</td>
                                <td>{{ usuario.permissoes }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary btn-sm custom-primary-link" data-toggle="modal" 
                                        data-target="#modal" id="editModalBtn" name="editModalBtn" 
                                        onclick="editarTemplate('{{ usuario.nome|escapejs }}', '{{ usuario.email|escapejs }}', 
                                        '{{ usuario.login|escapejs }}', '{{ usuario.permissoes|escapejs }}', 
                                        '{{ usuario.codusuario|escapejs }}', '{{ usuario.utiliza_dois_fatores|escapejs }}')">
                                            <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger mr-1" data-toggle="modal" data-target="#deleteModal" title="Excluir"
                                    data-nome="{{ usuario.nome }}" data-cod="{{ usuario.codusuario }}" onclick="preencherModal(this)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal de Confirmação de Exclusão -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{% url 'excluir_usuario' %}">
                    {% csrf_token %}
                    <input type="hidden" name="deletar-codusuario" id="codusuario-input">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title">Atenção</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza que deseja <strong>excluir</strong> o usuário "<span id="usuario-nome"></span>"?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                        <button type="submit" class="btn btn-danger" id="btn_excluir-template">Sim, Excluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="bottom-0 start-0 end-0 p-3 bg-light" style="z-index: 1050;">
        <button onclick="history.back()" type="button" class="btn btn-secondary"><i class="fas fa-reply"></i> Voltar</button>                
    </div>

</section>

<script>
    $(document).ready(function () {
        // Aplica a máscara ao campo de CPF
        $('#cpf').mask('000.000.000-00');

        // Função para validar o CPF
        function validarCPF() {
            var cpfNumber = $('#cpf').val();

            // Verifica se o CPF está vazio
            if (cpfNumber === '') {
                $('#cpf-error').hide();
                $('#cpf').removeClass('is-invalid').removeClass('is-valid'); // Remove classes de validação
                return true; // Permite o envio do formulário
            }

            // Verifica se o CPF tem exatamente 14 caracteres (formato completo)
            if (cpfNumber.length !== 14) {
                $('#cpf-error').show();
                $('#cpf').addClass('is-invalid');
                return false;
            } else {
                $('#cpf-error').hide();
                $('#cpf').removeClass('is-invalid').addClass('is-valid');
                return true;
            }
        }

        // Previne o envio do formulário se o CPF for inválido
        $('#usuarioForm').on('submit', function (e) {
            var validCPF = validarCPF();

            if (!validCPF) {
                e.preventDefault(); // Previne o envio do formulário
                document.getElementById("spinner").style.display = "none";
                return false;
            }
        });

        // Validação contínua enquanto o usuário digita (corrige o erro enquanto ele digita)
        $('#cpf').on('input', function () {
            validarCPF();
        });
    });

    // Função para preencher o modal de exclusão com os dados do usuário
    function preencherModal(botao) {
        // Pega os valores dos atributos data-*
        const nome = botao.getAttribute("data-nome");
        const cod = botao.getAttribute("data-cod");

        // Atualiza o conteúdo dentro do modal
        document.getElementById("usuario-nome").textContent = nome;
        document.getElementById("codusuario-input").value = cod;
    }

    /////////////////// BOTÃO DE EDITAR
    // Utilizado para novo cadastro
    function editarTemplate(nome, email, login, permissoes, codusuario, utiliza_dois_fatores) {
        document.getElementById("nome").value = nome;
        document.getElementById("email").value = email;
        document.getElementById("cpf").value = login;
        document.getElementById("cpf").readOnly = true;
        document.getElementById("operacao").value = "1";
        document.getElementById("codusuario").value = codusuario;
        document.getElementById("senha").required = false;
        if (utiliza_dois_fatores == 'True') {document.getElementById("check2fa").checked = true;} 
        else {document.getElementById("check2fa").checked = false;}
        // Preenche o campo de permissão
        const selectPermissao = document.getElementById("permissao");
        // Limpa qualquer seleção anterior
        for (let opt of selectPermissao.options) {
            opt.selected = false;
        }
        // Define o valor correto
        for (let opt of selectPermissao.options) {
            if (opt.value.toLowerCase() === permissoes.toLowerCase()) {
                opt.selected = true;
                break;
            }
        }
        validarCPF();
    }
    // Utilizado para edição de cadastro existente
    function limparTemplate() { // Caso feche a modal sem salvar 
        document.getElementById("nome").value ="";
        document.getElementById("email").value = "";
        document.getElementById("cpf").value = "";
        document.getElementById("cpf").readOnly = false;
        // document.getElementById("permissoes").value = "";
        document.getElementById("senha").value = "";
        document.getElementById("senha").required = true;
        document.getElementById("operacao").value = "0";
        document.getElementById("codusuario").value = "0";
        document.getElementById("check2fa").checked = true;
        const selectPermissao = document.getElementById("permissao");
        // Limpa qualquer seleção anterior
        for (let opt of selectPermissao.options) {
            opt.selected = false;
        }
        validarCPF();
    }
    // Captura o evento de fechamento do modal (por X, botão ou ESC)
    document.addEventListener("DOMContentLoaded", function () {
        const modal = document.getElementById("modal");
        modal.addEventListener("hidden.bs.modal", function () {
            limparTemplate();
        });
    });
</script>

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap4.min.js"></script>

<script>
$(function () {
    $('#tabela-usuarios').DataTable({
    "paging": true,
    "lengthChange": true,
    "searching": true,
    "ordering": true,
    "info": true,
    "autoWidth": false,
    "responsive": true,
    "language": {
        "url": "https://cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json"
    }
    });
});
</script>

{% endblock %}