{% extends 'cg/base.html' %}
{% block conteudo %}
<div class="container-sm py-5">
    <div class="text-center mb-4">
        <h2 class="fw-bold">Contratos Vencidos</h2>
        <hr class="mx-auto" style="width: 50px;">
    </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h5> Contratos do Espaço </h5>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                {% for c in listaViewContratos %}
                    {% if c.tipocontrato == 'E' %}
                        <div class="card mb-4">
                            <div class="card-header"> 
                                {% if c.dtevento != None %}
                                    Data do evento: {{ c.dtevento }}
                                {% else %}
                                    Data do evento: 
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"> {{ c.nome }} </h5>
                                {% if c.tipoevento != None %}
                                    <p class="card-text"><strong>Tipo do evento:</strong> {{ c.tipoevento }}</p>
                                {% else %}
                                    <p class="card-text"><strong>Tipo do evento:</strong> Não cadastrado</p>
                                {% endif %}
                                <p>Status: <i>{{ c.status }}</i></p>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary w-100 custom-primary-link" data-bs-toggle="modal" data-bs-target="#modal{{ c.codcontrato }}">
                                    Visualizar
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="modal{{ c.codcontrato }}" tabindex="-1" aria-labelledby="modal{{ c.codcontrato }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modal{{ c.codcontrato }}">{{ c.nome }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        {% for i in listaContratos %}
                                            {% if i.codcontrato == c.codcontrato %}
                                                <div class="modal-body">
                                                    <!-- Contrato -->
                                                    <h5 class="text-center">Dados do cliente</h5>
                                                    <strong>Nome:</strong> {{ c.nome }} <br>
                                                    <strong>CPF:</strong> {% if i.codcliente.cpf != None %} {{ i.codcliente.cpf }} {% endif %} <br>
                                                    <strong>Telefone:</strong> {% if i.codcliente.telefone != None %} {{ i.codcliente.telefone }} {% endif %} <br>
                                                    <strong>Endereço:</strong> {% if i.codcliente.endereco != None %} {{ i.codcliente.endereco }} {% endif %} <br>

                                                    <br><h5 class="text-center">Dados do contrato</h5>
                                                    <strong>Data do Evento:</strong> {% if i.dtevento != None %} {{ i.dtevento }} {% endif %} <br>
                                                    <strong>Tipo de Evento:</strong> {% if i.tipoevento != None %} {{ i.tipoevento }} {% endif %} <br>
                                                    <strong>Quantidade de convidados:</strong> {% if i.qtdconvidados != None %} {{ i.qtdconvidados }} {% endif %} <br>
                                                    <strong>Tem 10 mesas inclusas:</strong> {% if i.mesasinclusas != None %} {{ i.mesasinclusas }} {% endif %} <br>
                                                    <strong>Mesas quadradas avulsas:</strong> {% if i.mesasqavulsas != None %} {{ i.mesasqavulsas }} {% endif %} <br>
                                                    <strong>Mesas redondas avulsas:</strong> {% if i.mesasravulsas != None %} {{ i.mesasravulsas }} {% endif %} <br>
                                                    <strong>Cadeiras avulsas:</strong> {% if i.cadeirasavulsas != None %} {{ i.cadeirasavulsas }} {% endif %} <br>
                                                    <strong>Toalhas avulsas:</strong> {% if i.toalhasavulsas != None %} {{ i.toalhasavulsas }} {% endif %} <br>
                                                    <strong>Horário de Entrada:</strong> {% if i.horaentrada != None %} {{ i.horaentrada }} {% endif %} <br>
                                                    <strong>Horário de Saída:</strong> {% if i.horasaida != None %} {{ i.horasaida }} {% endif %} <br>
                                                    <strong>Valor total:</strong> {% if i.valortotal != None %} {{ i.valortotal }} {% endif %} <br>
                                                    <strong>Valor do sinal:</strong> {% if i.valorsinal != None %} {{ i.valorsinal }} {% endif %} <br>

                                                    <br><h5 class="text-center">Itens Adicionais</h5>
                                                    <ol>
                                                        {% for j in itensAdicionais %}
                                                            {% if j.codcontrato.codcontrato == i.codcontrato %}
                                                                    <li>{{j.nome}}</li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ol>
                                                    
                                                    <br><h5 class="text-center">Outras informações</h5>
                                                    <strong>Tipo de Contrato:</strong> {% if i.tipocontrato != None %} {{ i.tipocontrato }} {% endif %} <br>
                                                    <strong>Data de Criação:</strong> {% if i.dtcriacao != None %} {{ i.dtcriacao }} {% endif %} <br>
                                                    <strong>Data da últ. atualização:</strong> {% if i.atualiz != None %} {{ i.atualiz }} {% endif %} <br>

                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <h5>Contratos de Decoração</h5>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                {% for c in listaViewContratos %}
                    {% if c.tipocontrato == 'D' %}
                    <div class="card mb-4">
                        <div class="card-header"> 
                            {% if c.dtevento != None %}
                                Data do evento: {{ c.dtevento }}
                            {% else %}
                                Data do evento: 
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> {{ c.nome }} </h5>
                            {% if c.enderecoevento != None %}
                                <p class="card-text"><strong>Endereço do evento:</strong> {{ c.enderecoevento }}</p>
                            {% else %}
                                <p class="card-text"><strong>Endereço do evento:</strong> Não cadastrado</p>
                            {% endif %}
                            <p>Status: <i>{{ c.status }}</i></p>
                                
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary w-100 custom-primary-link" data-bs-toggle="modal" data-bs-target="#modal{{ c.codcontrato }}">
                                Visualizar
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="modal{{ c.codcontrato }}" tabindex="-1" aria-labelledby="modal{{ c.codcontrato }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modal{{ c.codcontrato }}">{{ c.nome }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        {% for i in listaContratos %}
                                            {% if i.codcontrato == c.codcontrato %}
                                                <div class="modal-body">
                                                    <!-- Contrato -->
                                                    <h5 class="text-center">Dados do cliente</h5>
                                                    <strong>Nome:</strong> {{ c.nome }} <br>
                                                    <strong>CPF:</strong> {% if i.codcliente.cpf != None %} {{ i.codcliente.cpf }} {% endif %} <br>
                                                    <strong>Telefone:</strong> {% if i.codcliente.telefone != None %} {{ i.codcliente.telefone }} {% endif %} <br>
                                                    <strong>Endereço:</strong> {% if i.codcliente.endereco != None %} {{ i.codcliente.endereco }} {% endif %} <br>

                                                    <br><h5 class="text-center">Dados do contrato</h5>
                                                    <strong>Local do Evento:</strong> {% if i.enderecoevento != None %} {{ i.enderecoevento }} {% endif %} <br>
                                                    <strong>Data do Evento:</strong> {% if i.dtevento != None %} {{ i.dtevento }} {% endif %} <br>
                                                    <strong>Horário do evento:</strong> {% if i.horaentrada != None %} {{ i.horaentrada }} {% endif %} <br>
                                                    <strong>Valor do contrato:</strong> {% if i.valortotal != None %} {{ i.valortotal }} {% endif %} <br>
                                                    <strong>Valor do deslocamento:</strong> {% if i.valordeslocamento != None %} {{ i.valordeslocamento }} {% endif %} <br>
                                                    <strong>Valor do sinal:</strong> {% if i.valorsinal != None %} {{ i.valorsinal }} {% endif %} <br>

                                                    <!-- Itens Adicionais -->
                                                    {% for tip in tiposItensAdicionais %}
                                                        {% if tip.codcontrato_id == c.codcontrato %}
                                                            <br><h5 class="text-center">{{ tip.nome }}</h5>
                                                            <ol>
                                                                {% for k in itensAdicionais %}
                                                                        {% if k.codtipoitem.codtipoitem == tip.codtipoitem and k.codcontrato.codcontrato == c.codcontrato %}
                                                                            <li>{{ k.nome }}</li>
                                                                        {% endif %}
                                                                {% endfor %}
                                                            </ol>
                                                        {% endif %}
                                                    {% endfor %}
                                                    
                                                    <br><h5 class="text-center">Outras informações</h5>
                                                    <strong>Tipo de Contrato:</strong> {% if i.tipocontrato != None %} {{ i.tipocontrato }} {% endif %} <br>
                                                    <strong>Data de Criação:</strong> {% if i.dtcriacao != None %} {{ i.dtcriacao }} {% endif %} <br>
                                                    <strong>Data da últ. atualização:</strong> {% if i.atualiz != None %} {{ i.atualiz }} {% endif %} <br>

                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}