{% extends 'cg/base.html' %}
{% block conteudo %}
<div class="container-sm py-5">
    <div class="text-center mb-4">
        <h2 class="fw-bold">Novo Contrato</h2>
        <hr class="mx-auto" style="width: 50px;">
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                const carousels = document.querySelectorAll('.carousel');
                
                carousels.forEach(function (carousel) {
                    const carouselInstance = new bootstrap.Carousel(carousel, {
                        touch: false  // Desativa o swipe
                    });
                });
            });
            </script>

            <form id="myForm" method="post" action="{% url 'trading_data_decoration' %}">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nome completo do cliente" required>
                    <div id="name-error" class="invalid-feedback" style="display: none;">Campo obrigatório!</div>
                </div>

                <script>
                    $(document).ready(function(){
                        // Validar se o nome está vazio, pois é obrigatgório
                        function validarNome() {
                            var name = $('#name').val();

                            if (name === '') {
                                $('#name-error').show();
                                $('#name').addClass('is-invalid');
                                return false;
                            } else {
                                $('#name-error').hide();
                                $('#name').removeClass('is-invalid').addClass('is-valid');
                                return true;
                            }
                        }
                        // Validação contínua enquanto o usuário digita (corrige o erro enquanto ele digita)
                        $('#name').on('input', function() {
                            validarNome();
                        });
                        // Chamar a função quando carregar a página
                        validarNome();
                    });
                </script>

                <div class="mb-3">
                    <label for="address" class="form-label">Endereço do cliente</label>
                    <input type="text" class="form-control" name="address" id="address" placeholder="Rua, Número, Bairro, Cidade, UF">
                </div>

                <div class="mb-3">
                    <label for="event-address" class="form-label">Endereço do evento</label>
                    <input type="text" class="form-control" name="event-address" id="event-address" placeholder="Rua, Número, Bairro, Cidade, UF">
                </div>

                <div class="mb-3">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" class="form-control" name="cpf" id="cpf" placeholder="000.000.000-00">
                    <div id="cpf-error" class="invalid-feedback" style="display: none;">CPF inválido! Está faltando dígitos.</div>
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Telefone</label>
                    <input type="tel" class="form-control" name="phone" id="phone" maxlength="15"  placeholder="(62) 9 0000-0000">
                    <div id="phone-error" class="invalid-feedback" style="display: none;">Número de telefone inválido! Está faltando dígitos.</div>
                </div>

                <script>
                    $(document).ready(function(){
                        // Aplica a máscara ao campo de telefone e CPF
                        $('#phone').mask('(00) 0 0000-0000');
                        $('#cpf').mask('000.000.000-00');
                
                        // Função para validar o telefone
                        function validarTelefone() {
                            var phoneNumber = $('#phone').val();

                            // Verifica se o Telefone está vazio
                            if (phoneNumber === '') {
                                $('#phone-error').hide();
                                $('#phone').removeClass('is-invalid').removeClass('is-valid'); // Remove classes de validação
                                return true; // Permite o envio do formulário
                            }
                
                            // Verifica se o número tem exatamente 16 caracteres (formato completo)
                            if (phoneNumber.length !== 16) {
                                $('#phone-error').show();
                                $('#phone').addClass('is-invalid');
                                return false;
                            } else {
                                $('#phone-error').hide();
                                $('#phone').removeClass('is-invalid').addClass('is-valid');
                                return true;
                            }
                        }
                
                        // Função para validar o CPF
                        function validarCPF() {
                            var cpfNumber = $('#cpf').val();

                            // Verifica se o CPF está vazio
                            if (cpfNumber === '') {
                                $('#cpf-error').hide();
                                $('#cpf').removeClass('is-invalid').removeClass('is-valid'); // Remove classes de validação
                                return true; // Permite o envio do formulário
                            }
                
                            // Verifica se o CPF tem exatamente 14 caracteres (formato completo)
                            if (cpfNumber.length !== 14) {
                                $('#cpf-error').show();
                                $('#cpf').addClass('is-invalid');
                                return false;
                            } else {
                                $('#cpf-error').hide();
                                $('#cpf').removeClass('is-invalid').addClass('is-valid');
                                return true;
                            }
                        }
                
                        // Previne o envio do formulário se o telefone ou CPF forem inválidos
                        $('#myForm').on('submit', function(e) {
                            var validPhone = validarTelefone();
                            var validCPF = validarCPF();
                
                            if (!validPhone || !validCPF) {
                                e.preventDefault(); // Previne o envio do formulário
                                return false;
                            }
                        });
                
                        // Validação contínua enquanto o usuário digita (corrige o erro enquanto ele digita)
                        $('#phone').on('input', function() {
                            validarTelefone();
                        });
                        
                        $('#cpf').on('input', function() {
                            validarCPF();
                        });
                    });
                </script>
                
                <!-- ============================================================================================================= -->
                <div class="mb-4">
                    <div id="inputContainer">
                        <label for="religious" class="form-label">Religioso</label>
                        <div class="inputGroup mb-3">
                            <div class="input-group">
                                <button type="button" onclick="removeInput(this)" class="btn btn-danger">Excluir</button>
                                <input type="text" class="form-control" name="religious" id="religious" placeholder="Digite o item">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-success w-100" onclick="addInput()">Novo item</button>
                    </div>
                </div>
                
                <script>
                    let inputCount = 1;
                
                    function addInput() {
                        inputCount++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroup = document.createElement('div');
                        newInputGroup.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDiv = document.createElement('div');
                        inputGroupDiv.className = 'input-group';
                
                        // Cria o novo input
                        const newInput = document.createElement('input');
                        newInput.setAttribute('type', 'text');
                        newInput.setAttribute('placeholder', 'Digite o item')
                        newInput.setAttribute('name', 'religious' + inputCount);
                        newInput.setAttribute('id', 'religious' + inputCount);
                        newInput.className = 'form-control'; // Classe Bootstrap para input
                
                        // Cria o botão de excluir
                        const deleteButton = document.createElement('button');
                        deleteButton.setAttribute('type', 'button');
                        deleteButton.className = 'btn btn-danger';
                        deleteButton.textContent = 'Excluir';
                        deleteButton.onclick = function () {
                            removeInput(deleteButton);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDiv.appendChild(deleteButton);
                        inputGroupDiv.appendChild(newInput);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroup.appendChild(inputGroupDiv);
                
                        const inputContainer = document.getElementById('inputContainer');
                        inputContainer.appendChild(newInputGroup);
                    }
                
                    function removeInput(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroup = button.closest('.inputGroup');
                        inputGroup.remove();
                    }
                </script>

                <!-- ============================================================================================================= -->
                <div class="mb-4">
                    <div id="inputContainerEntraceHall">
                        <label for="entrace-hall" class="form-label">Hall de Entrada</label>
                        <div class="inputGroup mb-3">
                            <div class="input-group">
                                <button type="button" onclick="removeInputEntraceHall(this)" class="btn btn-danger">Excluir</button>
                                <input type="text" class="form-control" name="entrace-hall" id="entrace-hall" placeholder="Digite o item">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-success w-100" onclick="addInputEntraceHall()">Novo item</button>
                    </div>
                </div>
                
                <script>
                    let inputCount1 = 1;
                
                    function addInputEntraceHall() {
                        inputCount1++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroupEntraceHall = document.createElement('div');
                        newInputGroupEntraceHall.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDivEntraceHall = document.createElement('div');
                        inputGroupDivEntraceHall.className = 'input-group';
                
                        // Cria o novo input
                        const newInputEntraceHall = document.createElement('input');
                        newInputEntraceHall.setAttribute('type', 'text');
                        newInputEntraceHall.setAttribute('placeholder', 'Digite o item');
                        newInputEntraceHall.setAttribute('name', 'entrace-hall' + inputCount1);
                        newInputEntraceHall.setAttribute('id', 'entrace-hall' + inputCount1);
                        newInputEntraceHall.className = 'form-control';
                
                        // Cria o botão de excluir
                        const deleteButtonEntraceHall = document.createElement('button');
                        deleteButtonEntraceHall.setAttribute('type', 'button');
                        deleteButtonEntraceHall.className = 'btn btn-danger';
                        deleteButtonEntraceHall.textContent = 'Excluir';
                        deleteButtonEntraceHall.onclick = function () {
                            removeInputEntraceHall(deleteButtonEntraceHall);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDivEntraceHall.appendChild(deleteButtonEntraceHall);
                        inputGroupDivEntraceHall.appendChild(newInputEntraceHall);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroupEntraceHall.appendChild(inputGroupDivEntraceHall);
                
                        const inputContainerEntraceHall = document.getElementById('inputContainerEntraceHall');
                        inputContainerEntraceHall.appendChild(newInputGroupEntraceHall);
                    }
                
                    function removeInputEntraceHall(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroupEntraceHall = button.closest('.inputGroup');
                        inputGroupEntraceHall.remove();
                    }
                </script>

                <!-- ============================================================================================================= -->

                <div class="mb-4">
                    <div id="inputContainerCakeTable">
                        <label for="cake-table" class="form-label">Mesa de Bolo</label>
                        <div class="inputGroup mb-3">
                            <div class="input-group">
                                <button type="button" onclick="removeInputCakeTable(this)" class="btn btn-danger">Excluir</button>
                                <input type="text" class="form-control" name="cake-table" id="cake-table" placeholder="Digite o item">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-success w-100" onclick="addInputCakeTable()">Novo item</button>
                    </div>
                </div>

                <script>
                    let inputCountCakeTable = 1;
                
                    function addInputCakeTable() {
                        inputCountCakeTable++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroupCakeTable = document.createElement('div');
                        newInputGroupCakeTable.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDivCakeTable = document.createElement('div');
                        inputGroupDivCakeTable.className = 'input-group';
                
                        // Cria o novo input
                        const newInputCakeTable = document.createElement('input');
                        newInputCakeTable.setAttribute('type', 'text');
                        newInputCakeTable.setAttribute('placeholder', 'Digite o item');
                        newInputCakeTable.setAttribute('name', 'cake-table' + inputCountCakeTable);
                        newInputCakeTable.setAttribute('id', 'cake-table' + inputCountCakeTable);
                        newInputCakeTable.className = 'form-control';
                
                        // Cria o botão de excluir
                        const deleteButtonCakeTable = document.createElement('button');
                        deleteButtonCakeTable.setAttribute('type', 'button');
                        deleteButtonCakeTable.className = 'btn btn-danger';
                        deleteButtonCakeTable.textContent = 'Excluir';
                        deleteButtonCakeTable.onclick = function () {
                            removeInputCakeTable(deleteButtonCakeTable);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDivCakeTable.appendChild(deleteButtonCakeTable);
                        inputGroupDivCakeTable.appendChild(newInputCakeTable);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroupCakeTable.appendChild(inputGroupDivCakeTable);
                
                        const inputContainerCakeTable = document.getElementById('inputContainerCakeTable');
                        inputContainerCakeTable.appendChild(newInputGroupCakeTable);
                    }
                
                    function removeInputCakeTable(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroupCakeTable = button.closest('.inputGroup');
                        inputGroupCakeTable.remove();
                    }
                </script>
                
                <!-- ============================================================================================================= -->

                <div class="mb-4">
                    <div id="inputContainerCourtesy">
                        <label for="courtesy" class="form-label">Cortesia</label>
                        <div class="inputGroup mb-3">
                            <div class="input-group">
                                <button type="button" onclick="removeInputCourtesy(this)" class="btn btn-danger">Excluir</button>
                                <input type="text" class="form-control" name="courtesy" id="courtesy" placeholder="Digite o item">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-success w-100" onclick="addInputCourtesy()">Novo item</button>
                    </div>
                </div>

                <script>
                    let inputCountCourtesy = 1;
                
                    function addInputCourtesy() {
                        inputCountCourtesy++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroupCourtesy = document.createElement('div');
                        newInputGroupCourtesy.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDivCourtesy = document.createElement('div');
                        inputGroupDivCourtesy.className = 'input-group';
                
                        // Cria o novo input
                        const newInputCourtesy = document.createElement('input');
                        newInputCourtesy.setAttribute('type', 'text');
                        newInputCourtesy.setAttribute('placeholder', 'Digite o item');
                        newInputCourtesy.setAttribute('name', 'courtesy' + inputCountCourtesy);
                        newInputCourtesy.setAttribute('id', 'courtesy' + inputCountCourtesy);
                        newInputCourtesy.className = 'form-control';
                
                        // Cria o botão de excluir
                        const deleteButtonCourtesy = document.createElement('button');
                        deleteButtonCourtesy.setAttribute('type', 'button');
                        deleteButtonCourtesy.className = 'btn btn-danger';
                        deleteButtonCourtesy.textContent = 'Excluir';
                        deleteButtonCourtesy.onclick = function () {
                            removeInputCourtesy(deleteButtonCourtesy);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDivCourtesy.appendChild(deleteButtonCourtesy);
                        inputGroupDivCourtesy.appendChild(newInputCourtesy);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroupCourtesy.appendChild(inputGroupDivCourtesy);
                
                        const inputContainerCourtesy = document.getElementById('inputContainerCourtesy');
                        inputContainerCourtesy.appendChild(newInputGroupCourtesy);
                    }
                
                    function removeInputCourtesy(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroupCourtesy = button.closest('.inputGroup');
                        inputGroupCourtesy.remove();
                    }
                </script>

                <!-- ============================================================================================================= -->

                <div class="mb-4">
                    <div id="inputContainerLining">
                        <label for="Lining" class="form-label">Forração</label>
                        <div class="inputGroup mb-3">
                            <div class="input-group">
                                <button type="button" onclick="removeInputLining(this)" class="btn btn-danger">Excluir</button>
                                <input type="text" class="form-control" name="Lining" id="Lining" placeholder="Digite o item">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-success w-100" onclick="addInputLining()">Novo item</button>
                    </div>
                </div>

                <script>
                    let inputCountLining = 1;
                
                    function addInputLining() {
                        inputCountLining++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroupLining = document.createElement('div');
                        newInputGroupLining.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDivLining = document.createElement('div');
                        inputGroupDivLining.className = 'input-group';
                
                        // Cria o novo input
                        const newInputLining = document.createElement('input');
                        newInputLining.setAttribute('type', 'text');
                        newInputLining.setAttribute('placeholder', 'Digite o item');
                        newInputLining.setAttribute('name', 'Lining' + inputCountLining);
                        newInputLining.setAttribute('id', 'Lining' + inputCountLining);
                        newInputLining.className = 'form-control';
                
                        // Cria o botão de excluir
                        const deleteButtonLining = document.createElement('button');
                        deleteButtonLining.setAttribute('type', 'button');
                        deleteButtonLining.className = 'btn btn-danger';
                        deleteButtonLining.textContent = 'Excluir';
                        deleteButtonLining.onclick = function () {
                            removeInputLining(deleteButtonLining);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDivLining.appendChild(deleteButtonLining);
                        inputGroupDivLining.appendChild(newInputLining);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroupLining.appendChild(inputGroupDivLining);
                
                        const inputContainerLining = document.getElementById('inputContainerLining');
                        inputContainerLining.appendChild(newInputGroupLining);
                    }
                
                    function removeInputLining(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroupLining = button.closest('.inputGroup');
                        inputGroupLining.remove();
                    }
                </script>

                <!-- ============================================================================================================= -->

                <div class="mb-4">
                    <div id="inputContainerParentsTable">
                        <label for="ParentsTable" class="form-label">Mesa dos Pais ou Noivos</label>
                        <div class="inputGroup mb-3">
                            <div class="input-group">
                                <button type="button" onclick="removeInputParentsTable(this)" class="btn btn-danger">Excluir</button>
                                <input type="text" class="form-control" name="ParentsTable" id="ParentsTable" placeholder="Digite o item">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-success w-100" onclick="addInputParentsTable()">Novo item</button>
                    </div>
                </div>

                <script>
                    let inputCountParentsTable = 1;
                
                    function addInputParentsTable() {
                        inputCountParentsTable++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroupParentsTable = document.createElement('div');
                        newInputGroupParentsTable.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDivParentsTable = document.createElement('div');
                        inputGroupDivParentsTable.className = 'input-group';
                
                        // Cria o novo input
                        const newInputParentsTable = document.createElement('input');
                        newInputParentsTable.setAttribute('type', 'text');
                        newInputParentsTable.setAttribute('placeholder', 'Digite o item');
                        newInputParentsTable.setAttribute('name', 'ParentsTable' + inputCountParentsTable);
                        newInputParentsTable.setAttribute('id', 'ParentsTable' + inputCountParentsTable);
                        newInputParentsTable.className = 'form-control';
                
                        // Cria o botão de excluir
                        const deleteButtonParentsTable = document.createElement('button');
                        deleteButtonParentsTable.setAttribute('type', 'button');
                        deleteButtonParentsTable.className = 'btn btn-danger';
                        deleteButtonParentsTable.textContent = 'Excluir';
                        deleteButtonParentsTable.onclick = function () {
                            removeInputParentsTable(deleteButtonParentsTable);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDivParentsTable.appendChild(deleteButtonParentsTable);
                        inputGroupDivParentsTable.appendChild(newInputParentsTable);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroupParentsTable.appendChild(inputGroupDivParentsTable);
                
                        const inputContainerParentsTable = document.getElementById('inputContainerParentsTable');
                        inputContainerParentsTable.appendChild(newInputGroupParentsTable);
                    }
                
                    function removeInputParentsTable(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroupParentsTable = button.closest('.inputGroup');
                        inputGroupParentsTable.remove();
                    }
                </script>

                <!-- ============================================================================================================= -->

                <div class="mb-4">
                    <div id="inputContainerCenterpiece">
                        <label for="Centerpiece" class="form-label">Centro de Mesa</label>
                        <div class="inputGroup mb-3">
                            <div class="input-group">
                                <button type="button" onclick="removeInputCenterpiece(this)" class="btn btn-danger">Excluir</button>
                                <input type="text" class="form-control" name="Centerpiece" id="Centerpiece" placeholder="Digite o item">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-success w-100" onclick="addInputCenterpiece()">Novo item</button>
                    </div>
                </div>

                <script>
                    let inputCountCenterpiece = 1;
                
                    function addInputCenterpiece() {
                        inputCountCenterpiece++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroupCenterpiece = document.createElement('div');
                        newInputGroupCenterpiece.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDivCenterpiece = document.createElement('div');
                        inputGroupDivCenterpiece.className = 'input-group';
                
                        // Cria o novo input
                        const newInputCenterpiece = document.createElement('input');
                        newInputCenterpiece.setAttribute('type', 'text');
                        newInputCenterpiece.setAttribute('placeholder', 'Digite o item');
                        newInputCenterpiece.setAttribute('name', 'Centerpiece' + inputCountCenterpiece);
                        newInputCenterpiece.setAttribute('id', 'Centerpiece' + inputCountCenterpiece);
                        newInputCenterpiece.className = 'form-control';
                
                        // Cria o botão de excluir
                        const deleteButtonCenterpiece = document.createElement('button');
                        deleteButtonCenterpiece.setAttribute('type', 'button');
                        deleteButtonCenterpiece.className = 'btn btn-danger';
                        deleteButtonCenterpiece.textContent = 'Excluir';
                        deleteButtonCenterpiece.onclick = function () {
                            removeInputCenterpiece(deleteButtonCenterpiece);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDivCenterpiece.appendChild(deleteButtonCenterpiece);
                        inputGroupDivCenterpiece.appendChild(newInputCenterpiece);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroupCenterpiece.appendChild(inputGroupDivCenterpiece);
                
                        const inputContainerCenterpiece = document.getElementById('inputContainerCenterpiece');
                        inputContainerCenterpiece.appendChild(newInputGroupCenterpiece);
                    }
                
                    function removeInputCenterpiece(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroupCenterpiece = button.closest('.inputGroup');
                        inputGroupCenterpiece.remove();
                    }
                </script>
                
                
                
                <div class="mb-3">
                    <label for="date" class="form-label">Data do Evento</label>
                    <div class="col-6">
                        <input type="date" class="form-control" name="date" id="date">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="event-time" class="form-label">Horário do Evento</label>
                    <div class="col-6">
                        <input type="time" class="form-control" name="event-time" id="event-time">
                    </div>
                </div>
                
                <div class="mb-4">
                    <label for="event-value" class="form-label">Valor da Locação</label>
                    <div class="col-6">
                        <input type="text" class="form-control" name="event-value" id="event-value" placeholder="000,00">
                    </div>
                </div>

                <div class="mb-4">
                    <label for="antecipated-value" class="form-label">Valor do Sinal</label>
                    <div class="col-6">
                        <input type="text" class="form-control" name="antecipated-value" id="antecipated-value" placeholder="000,00">
                    </div>
                </div>

                <div class="mb-4">
                    <label for="displacement-value" class="form-label">Valor do Deslocamento</label>
                    <div class="col-6">
                        <input type="text" class="form-control" name="displacement-value" id="displacement-value" placeholder="000,00">
                    </div>
                </div>

                <br><hr>
                
                <div class="row mt-1 p-4">
                    <div class="col-6 col-md-6">
                        <button id="backButton" class="btn btn-primary w-100 mb-4" type="button">
                            &larr; Voltar
                        </button>
                        <script>
                            document.getElementById('backButton').addEventListener('click', function() {
                                window.history.back();
                            });
                        </script>
                    </div>
                    <div class="col-6 col-md-6 mb-4">
                        <button type="submit" class="btn btn-primary w-100">Continuar &rarr;</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}