{% extends 'cg/base.html' %}
{% block conteudo %}
<div class="container-sm py-5">
    <div class="text-center mb-4">
        <h2 class="fw-bold">Edição - Decoração</h2>
        <hr class="mx-auto" style="width: 50px;">
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">

            <script>
                new fullpage('#fullpage', {
                    touchSensitivity: 0 // Desabilita o swipe para navegação de páginas
                });
            </script>

            <form id="myForm" method="post" action="{% url 'trading_data_decoration' %}">
                {% csrf_token %}

                <input id="codcontrato_old" name="codcontrato_old" style="display: none;" value="{{ contrato.codcontrato }}"></input>
                <input id="operacao" name="operacao" style="display: none;" value="1"></input>

                <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nome completo do cliente" value="{{ cliente.nome }}"
                        required>
                    <div id="name-error" class="invalid-feedback" style="display: none;">Campo obrigatório!</div>
                </div>

                <script>
                    $(document).ready(function(){
                        // Validar se o nome está vazio, pois é obrigatgório
                        function validarNome() {
                            var name = $('#name').val();

                            if (name === '') {
                                $('#name-error').show();
                                $('#name').addClass('is-invalid');
                                return false;
                            } else {
                                $('#name-error').hide();
                                $('#name').removeClass('is-invalid').addClass('is-valid');
                                return true;
                            }
                        }
                        // Validação contínua enquanto o usuário digita (corrige o erro enquanto ele digita)
                        $('#name').on('input', function() {
                            validarNome();
                        });
                        // Chamar a função quando carregar a página
                        validarNome();
                    });
                </script>

                <div class="mb-3">
                    <label for="address" class="form-label">Endereço do cliente</label>
                    <input type="text" class="form-control" name="address" id="address" 
                        placeholder="Rua, Número, Bairro, Cidade, UF" value="{{ cliente.endereco }}">
                </div>

                <div class="mb-3">
                    <label for="event-address" class="form-label">Endereço do evento</label>
                    <input type="text" class="form-control" name="event-address" id="event-address" 
                    placeholder="Rua, Número, Bairro, Cidade, UF" value="{{ contrato.enderecoevento }}">
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="cpf" class="form-label">CPF</label>
                            <input type="text" class="form-control" name="cpf" id="cpf" placeholder="000.000.000-00" value="{{ cliente.cpf }}">
                            <div id="cpf-error" class="invalid-feedback" style="display: none;">CPF inválido! Está faltando dígitos.</div>
                        </div>

                        <div class="mb-3">
                            <label for="date" class="form-label">Data do Evento</label>
                            <input type="date" class="form-control" name="date" id="date" value="{{ contrato.dtevento }}">
                        </div>

                        <div class="mb-3">
                            <label for="event-value" class="form-label">Valor total</label>
                            <input type="text" class="form-control" name="event-value" id="event-value" placeholder="000,00" value="{{ contrato.valortotal }}">
                        </div>

                        <div class="mb-3">
                            <label for="displacement-value" class="form-label">Valor Deslocamento</label>
                            <input type="text" class="form-control" name="displacement-value" id="displacement-value" placeholder="000,00" value="{{ contrato.valordeslocamento }}">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="phone" class="form-label">Telefone</label>
                            <input type="tel" class="form-control" name="phone" id="phone" maxlength="15" 
                                placeholder="(62) 9 0000-0000" value="{{ cliente.telefone }}">
                            <div id="phone-error" class="invalid-feedback" style="display: none;">Número de telefone inválido! Está faltando dígitos.</div>
                        </div>

                        <div class="mb-3">
                            <label for="event-time" class="form-label">Horário do Evento</label>
                            <input type="time" class="form-control" name="event-time" id="event-time" value="{{ contrato.horaentrada }}">
                        </div>
                        
                        <div class="mb-3">
                            <label for="antecipated-value" class="form-label">Valor do Sinal</label>
                            <input type="text" class="form-control" name="antecipated-value" id="antecipated-value" placeholder="000,00" value="{{ contrato.valorsinal }}">
                        </div>
                    </div>

                </div>

                <script>
                    $(document).ready(function(){
                        // Aplica a máscara ao campo de telefone e CPF
                        $('#phone').mask('(00) 0 0000-0000');
                        $('#cpf').mask('000.000.000-00');
                
                        // Função para validar o telefone
                        function validarTelefone() {
                            var phoneNumber = $('#phone').val();

                            // Verifica se o Telefone está vazio
                            if (phoneNumber === '') {
                                $('#phone-error').hide();
                                $('#phone').removeClass('is-invalid').removeClass('is-valid'); // Remove classes de validação
                                return true; // Permite o envio do formulário
                            }
                
                            // Verifica se o número tem exatamente 16 caracteres (formato completo)
                            if (phoneNumber.length !== 16) {
                                $('#phone-error').show();
                                $('#phone').addClass('is-invalid');
                                return false;
                            } else {
                                $('#phone-error').hide();
                                $('#phone').removeClass('is-invalid').addClass('is-valid');
                                return true;
                            }
                        }
                
                        // Função para validar o CPF
                        function validarCPF() {
                            var cpfNumber = $('#cpf').val();

                            // Verifica se o CPF está vazio
                            if (cpfNumber === '') {
                                $('#cpf-error').hide();
                                $('#cpf').removeClass('is-invalid').removeClass('is-valid'); // Remove classes de validação
                                return true; // Permite o envio do formulário
                            }
                
                            // Verifica se o CPF tem exatamente 14 caracteres (formato completo)
                            if (cpfNumber.length !== 14) {
                                $('#cpf-error').show();
                                $('#cpf').addClass('is-invalid');
                                return false;
                            } else {
                                $('#cpf-error').hide();
                                $('#cpf').removeClass('is-invalid').addClass('is-valid');
                                return true;
                            }
                        }
                
                        // Previne o envio do formulário se o telefone ou CPF forem inválidos
                        $('#myForm').on('submit', function(e) {
                            var validPhone = validarTelefone();
                            var validCPF = validarCPF();
                
                            if (!validPhone || !validCPF) {
                                e.preventDefault(); // Previne o envio do formulário
                                return false;
                            }
                        });
                
                        // Validação contínua enquanto o usuário digita (corrige o erro enquanto ele digita)
                        $('#phone').on('input', function() {
                            validarTelefone();
                        });
                        
                        $('#cpf').on('input', function() {
                            validarCPF();
                        });
                    });
                </script>
                
                <hr class="mx-auto" style="width: 50px;">
                
                <div class="text-center pt-1">
                    <h5>Itens de decoração</h5>
                </div>

                <!-- ============================================================================================================= -->
                <div class="mb-3">
                    <div id="inputContainer">
                        <label for="religious" class="form-label"><strong>Religioso</strong></label>
                        {% for i in itensAdicionais %}
                            {% if i.codtipoitem_id == 6 %}
                                <div class="inputGroup mb-3">
                                    <div class="input-group">
                                        <button type="button" onclick="removeInput(this)" class="btn btn-danger">x</button>
                                        <input type="text" class="form-control" name="religious{{ forloop.counter }}" id="religious{{ forloop.counter }}" 
                                        placeholder="Digite o item" value="{{ i.nome }}">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-outline-success" onclick="addInput()">Acrescentar um item</button>
                    </div>
                </div>
                
                <div id="item-count-religious" data-count="{{ itensAdicionais|length }}" style="display: none;"></div>
                <script>
                    let inputCount = document.getElementById("item-count-religious").getAttribute("data-count");
                    inputCount = parseInt(inputCount);
                
                    function addInput() {
                        inputCount++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroup = document.createElement('div');
                        newInputGroup.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDiv = document.createElement('div');
                        inputGroupDiv.className = 'input-group';
                
                        // Cria o novo input
                        const newInput = document.createElement('input');
                        newInput.setAttribute('type', 'text');
                        newInput.setAttribute('placeholder', 'Digite o item')
                        newInput.setAttribute('name', 'religious' + inputCount);
                        newInput.setAttribute('id', 'religious' + inputCount);
                        newInput.className = 'form-control'; // Classe Bootstrap para input
                
                        // Cria o botão de excluir
                        const deleteButton = document.createElement('button');
                        deleteButton.setAttribute('type', 'button');
                        deleteButton.className = 'btn btn-danger';
                        deleteButton.textContent = 'x';
                        deleteButton.onclick = function () {
                            removeInput(deleteButton);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDiv.appendChild(deleteButton);
                        inputGroupDiv.appendChild(newInput);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroup.appendChild(inputGroupDiv);
                
                        const inputContainer = document.getElementById('inputContainer');
                        inputContainer.appendChild(newInputGroup);
                    }
                
                    function removeInput(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroup = button.closest('.inputGroup');
                        inputGroup.remove();
                    }
                </script>

                <!-- ============================================================================================================= -->
                <div class="mb-3">
                    <div id="inputContainerEntraceHall">
                        <label for="entrace-hall" class="form-label"><strong>Hall de Entrada</strong></label>
                        {% for i in itensAdicionais %}
                            {% if i.codtipoitem_id == 5 %}
                                <div class="inputGroup mb-3">
                                    <div class="input-group">
                                        <button type="button" onclick="removeInputEntraceHall(this)" class="btn btn-danger">x</button>
                                        <input type="text" class="form-control" name="entrace-hall{{ forloop.counter }}" 
                                        id="entrace-hall{{ forloop.counter }}" placeholder="Digite o item" value="{{ i.nome }}">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-outline-success" onclick="addInputEntraceHall()">Acrescentar um item</button>
                    </div>
                </div>
                
                <div id="item-count-entrace-hall" data-count="{{ itensAdicionais|length }}" style="display: none;"></div>
                <script>
                    let inputCount1 = document.getElementById("item-count-entrace-hall").getAttribute("data-count");
                    inputCount1 = parseInt(inputCount1);
                
                    function addInputEntraceHall() {
                        inputCount1++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroupEntraceHall = document.createElement('div');
                        newInputGroupEntraceHall.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDivEntraceHall = document.createElement('div');
                        inputGroupDivEntraceHall.className = 'input-group';
                
                        // Cria o novo input
                        const newInputEntraceHall = document.createElement('input');
                        newInputEntraceHall.setAttribute('type', 'text');
                        newInputEntraceHall.setAttribute('placeholder', 'Digite o item');
                        newInputEntraceHall.setAttribute('name', 'entrace-hall' + inputCount1);
                        newInputEntraceHall.setAttribute('id', 'entrace-hall' + inputCount1);
                        newInputEntraceHall.className = 'form-control';
                
                        // Cria o botão de excluir
                        const deleteButtonEntraceHall = document.createElement('button');
                        deleteButtonEntraceHall.setAttribute('type', 'button');
                        deleteButtonEntraceHall.className = 'btn btn-danger';
                        deleteButtonEntraceHall.textContent = 'x';
                        deleteButtonEntraceHall.onclick = function () {
                            removeInputEntraceHall(deleteButtonEntraceHall);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDivEntraceHall.appendChild(deleteButtonEntraceHall);
                        inputGroupDivEntraceHall.appendChild(newInputEntraceHall);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroupEntraceHall.appendChild(inputGroupDivEntraceHall);
                
                        const inputContainerEntraceHall = document.getElementById('inputContainerEntraceHall');
                        inputContainerEntraceHall.appendChild(newInputGroupEntraceHall);
                    }
                
                    function removeInputEntraceHall(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroupEntraceHall = button.closest('.inputGroup');
                        inputGroupEntraceHall.remove();
                    }
                </script>

                <!-- ============================================================================================================= -->

                <div class="mb-3">
                    <div id="inputContainerCakeTable">
                        <label for="cake-table" class="form-label"><strong>Mesa de Bolo</strong></label>
                        {% for i in itensAdicionais %}
                            {% if i.codtipoitem_id == 7 %}
                                <div class="inputGroup mb-3">
                                    <div class="input-group">
                                        <button type="button" onclick="removeInputCakeTable(this)" class="btn btn-danger">x</button>
                                        <input type="text" class="form-control" name="cake-table{{ forloop.counter }}" 
                                        id="cake-table{{ forloop.counter }}" placeholder="Digite o item" value="{{ i.nome }}">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-outline-success" onclick="addInputCakeTable()">Acrescentar um item</button>
                    </div>
                </div>

                <div id="item-count-cake-table" data-count="{{ itensAdicionais|length }}" style="display: none;"></div>
                <script>
                    let inputCountCakeTable = document.getElementById("item-count-cake-table").getAttribute("data-count");
                    inputCountCakeTable = parseInt(inputCountCakeTable);
                
                    function addInputCakeTable() {
                        inputCountCakeTable++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroupCakeTable = document.createElement('div');
                        newInputGroupCakeTable.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDivCakeTable = document.createElement('div');
                        inputGroupDivCakeTable.className = 'input-group';
                
                        // Cria o novo input
                        const newInputCakeTable = document.createElement('input');
                        newInputCakeTable.setAttribute('type', 'text');
                        newInputCakeTable.setAttribute('placeholder', 'Digite o item');
                        newInputCakeTable.setAttribute('name', 'cake-table' + inputCountCakeTable);
                        newInputCakeTable.setAttribute('id', 'cake-table' + inputCountCakeTable);
                        newInputCakeTable.className = 'form-control';
                
                        // Cria o botão de excluir
                        const deleteButtonCakeTable = document.createElement('button');
                        deleteButtonCakeTable.setAttribute('type', 'button');
                        deleteButtonCakeTable.className = 'btn btn-danger';
                        deleteButtonCakeTable.textContent = 'x';
                        deleteButtonCakeTable.onclick = function () {
                            removeInputCakeTable(deleteButtonCakeTable);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDivCakeTable.appendChild(deleteButtonCakeTable);
                        inputGroupDivCakeTable.appendChild(newInputCakeTable);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroupCakeTable.appendChild(inputGroupDivCakeTable);
                
                        const inputContainerCakeTable = document.getElementById('inputContainerCakeTable');
                        inputContainerCakeTable.appendChild(newInputGroupCakeTable);
                    }
                
                    function removeInputCakeTable(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroupCakeTable = button.closest('.inputGroup');
                        inputGroupCakeTable.remove();
                    }
                </script>
                
                <!-- ============================================================================================================= -->

                <div class="mb-3">
                    <div id="inputContainerCourtesy">
                        <label for="courtesy" class="form-label"><strong>Cortesia</strong></label>
                        {% for i in itensAdicionais %}
                            {% if i.codtipoitem_id == 4 %}
                                <div class="inputGroup mb-3">
                                    <div class="input-group">
                                        <button type="button" onclick="removeInputCourtesy(this)" class="btn btn-danger">x</button>
                                        <input type="text" class="form-control" name="courtesy{{ forloop.counter }}" 
                                        id="courtesy{{ forloop.counter }}" placeholder="Digite o item" value="{{ i.nome }}">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-outline-success" onclick="addInputCourtesy()">Acrescentar um item</button>
                    </div>
                </div>

                <div id="item-count-courtesy" data-count="{{ itensAdicionais|length }}" style="display: none;"></div>
                <script>
                    let inputCountCourtesy = document.getElementById("item-count-courtesy").getAttribute("data-count");
                    inputCountCourtesy = parseInt(inputCountCourtesy);
                
                    function addInputCourtesy() {
                        inputCountCourtesy++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroupCourtesy = document.createElement('div');
                        newInputGroupCourtesy.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDivCourtesy = document.createElement('div');
                        inputGroupDivCourtesy.className = 'input-group';
                
                        // Cria o novo input
                        const newInputCourtesy = document.createElement('input');
                        newInputCourtesy.setAttribute('type', 'text');
                        newInputCourtesy.setAttribute('placeholder', 'Digite o item');
                        newInputCourtesy.setAttribute('name', 'courtesy' + inputCountCourtesy);
                        newInputCourtesy.setAttribute('id', 'courtesy' + inputCountCourtesy);
                        newInputCourtesy.className = 'form-control';
                
                        // Cria o botão de excluir
                        const deleteButtonCourtesy = document.createElement('button');
                        deleteButtonCourtesy.setAttribute('type', 'button');
                        deleteButtonCourtesy.className = 'btn btn-danger';
                        deleteButtonCourtesy.textContent = 'x';
                        deleteButtonCourtesy.onclick = function () {
                            removeInputCourtesy(deleteButtonCourtesy);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDivCourtesy.appendChild(deleteButtonCourtesy);
                        inputGroupDivCourtesy.appendChild(newInputCourtesy);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroupCourtesy.appendChild(inputGroupDivCourtesy);
                
                        const inputContainerCourtesy = document.getElementById('inputContainerCourtesy');
                        inputContainerCourtesy.appendChild(newInputGroupCourtesy);
                    }
                
                    function removeInputCourtesy(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroupCourtesy = button.closest('.inputGroup');
                        inputGroupCourtesy.remove();
                    }
                </script>

                <!-- ============================================================================================================= -->

                <div class="mb-3">
                    <div id="inputContainerLining">
                        <label for="Lining" class="form-label"><strong>Forração</strong></label>
                        {% for i in itensAdicionais %}
                            {% if i.codtipoitem_id == 8 %}
                                <div class="inputGroup mb-3">
                                    <div class="input-group">
                                        <button type="button" onclick="removeInputLining(this)" class="btn btn-danger">x</button>
                                        <input type="text" class="form-control" name="Lining{{ forloop.counter }}" 
                                        id="Lining{{ forloop.counter }}" placeholder="Digite o item" value="{{ i.nome }}">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-outline-success" onclick="addInputLining()">Acrescentar um item</button>
                    </div>
                </div>

                <div id="item-count-Lining" data-count="{{ itensAdicionais|length }}" style="display: none;"></div>
                <script>
                    let inputCountLining = document.getElementById("item-count-Lining").getAttribute("data-count");
                    inputCountLining = parseInt(inputCountLining);
                
                    function addInputLining() {
                        inputCountLining++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroupLining = document.createElement('div');
                        newInputGroupLining.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDivLining = document.createElement('div');
                        inputGroupDivLining.className = 'input-group';
                
                        // Cria o novo input
                        const newInputLining = document.createElement('input');
                        newInputLining.setAttribute('type', 'text');
                        newInputLining.setAttribute('placeholder', 'Digite o item');
                        newInputLining.setAttribute('name', 'Lining' + inputCountLining);
                        newInputLining.setAttribute('id', 'Lining' + inputCountLining);
                        newInputLining.className = 'form-control';
                
                        // Cria o botão de excluir
                        const deleteButtonLining = document.createElement('button');
                        deleteButtonLining.setAttribute('type', 'button');
                        deleteButtonLining.className = 'btn btn-danger';
                        deleteButtonLining.textContent = 'x';
                        deleteButtonLining.onclick = function () {
                            removeInputLining(deleteButtonLining);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDivLining.appendChild(deleteButtonLining);
                        inputGroupDivLining.appendChild(newInputLining);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroupLining.appendChild(inputGroupDivLining);
                
                        const inputContainerLining = document.getElementById('inputContainerLining');
                        inputContainerLining.appendChild(newInputGroupLining);
                    }
                
                    function removeInputLining(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroupLining = button.closest('.inputGroup');
                        inputGroupLining.remove();
                    }
                </script>

                <!-- ============================================================================================================= -->

                <div class="mb-3">
                    <div id="inputContainerParentsTable">
                        <label for="ParentsTable" class="form-label"><strong>Mesa dos Pais ou Noivos</strong></label>
                        {% for i in itensAdicionais %}
                            {% if i.codtipoitem_id == 3 %}
                                <div class="inputGroup mb-3">
                                    <div class="input-group">
                                        <button type="button" onclick="removeInputParentsTable(this)" class="btn btn-danger">x</button>
                                        <input type="text" class="form-control" name="ParentsTable{{ forloop.counter }}" 
                                        id="ParentsTable{{ forloop.counter }}" placeholder="Digite o item" value="{{ i.nome }}">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-outline-success" onclick="addInputParentsTable()">Acrescentar um item</button>
                    </div>
                </div>

                <div id="item-count-ParentsTable" data-count="{{ itensAdicionais|length }}" style="display: none;"></div>
                <script>
                    let inputCountParentsTable = document.getElementById("item-count-ParentsTable").getAttribute("data-count");
                    inputCountParentsTable = parseInt(inputCountParentsTable);
                
                    function addInputParentsTable() {
                        inputCountParentsTable++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroupParentsTable = document.createElement('div');
                        newInputGroupParentsTable.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDivParentsTable = document.createElement('div');
                        inputGroupDivParentsTable.className = 'input-group';
                
                        // Cria o novo input
                        const newInputParentsTable = document.createElement('input');
                        newInputParentsTable.setAttribute('type', 'text');
                        newInputParentsTable.setAttribute('placeholder', 'Digite o item');
                        newInputParentsTable.setAttribute('name', 'ParentsTable' + inputCountParentsTable);
                        newInputParentsTable.setAttribute('id', 'ParentsTable' + inputCountParentsTable);
                        newInputParentsTable.className = 'form-control';
                
                        // Cria o botão de excluir
                        const deleteButtonParentsTable = document.createElement('button');
                        deleteButtonParentsTable.setAttribute('type', 'button');
                        deleteButtonParentsTable.className = 'btn btn-danger';
                        deleteButtonParentsTable.textContent = 'x';
                        deleteButtonParentsTable.onclick = function () {
                            removeInputParentsTable(deleteButtonParentsTable);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDivParentsTable.appendChild(deleteButtonParentsTable);
                        inputGroupDivParentsTable.appendChild(newInputParentsTable);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroupParentsTable.appendChild(inputGroupDivParentsTable);
                
                        const inputContainerParentsTable = document.getElementById('inputContainerParentsTable');
                        inputContainerParentsTable.appendChild(newInputGroupParentsTable);
                    }
                
                    function removeInputParentsTable(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroupParentsTable = button.closest('.inputGroup');
                        inputGroupParentsTable.remove();
                    }
                </script>

                <!-- ============================================================================================================= -->

                <div class="mb-3">
                    <div id="inputContainerCenterpiece">
                        <label for="Centerpiece" class="form-label"><strong>Centro de Mesa</strong></label>
                        {% for i in itensAdicionais %}
                            {% if i.codtipoitem_id == 2 %}
                                <div class="inputGroup mb-3">
                                    <div class="input-group">
                                        <button type="button" onclick="removeInputCenterpiece(this)" class="btn btn-danger">x</button>
                                        <input type="text" class="form-control" name="Centerpiece{{ forloop.counter }}" 
                                        id="Centerpiece{{ forloop.counter }}" placeholder="Digite o item" value="{{ i.nome }}">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-outline-success" onclick="addInputCenterpiece()">Acrescentar um item</button>
                    </div>
                </div>

                <div id="item-count-Centerpiece" data-count="{{ itensAdicionais|length }}" style="display: none;"></div>
                <script>
                    let inputCountCenterpiece = document.getElementById("item-count-Centerpiece").getAttribute("data-count");
                    inputCountCenterpiece = parseInt(inputCountCenterpiece);
                
                    function addInputCenterpiece() {
                        inputCountCenterpiece++;
                
                        // Cria um novo div para o grupo de input
                        const newInputGroupCenterpiece = document.createElement('div');
                        newInputGroupCenterpiece.className = 'inputGroup mb-3';
                
                        // Cria o input-group do Bootstrap
                        const inputGroupDivCenterpiece = document.createElement('div');
                        inputGroupDivCenterpiece.className = 'input-group';
                
                        // Cria o novo input
                        const newInputCenterpiece = document.createElement('input');
                        newInputCenterpiece.setAttribute('type', 'text');
                        newInputCenterpiece.setAttribute('placeholder', 'Digite o item');
                        newInputCenterpiece.setAttribute('name', 'Centerpiece' + inputCountCenterpiece);
                        newInputCenterpiece.setAttribute('id', 'Centerpiece' + inputCountCenterpiece);
                        newInputCenterpiece.className = 'form-control';
                
                        // Cria o botão de excluir
                        const deleteButtonCenterpiece = document.createElement('button');
                        deleteButtonCenterpiece.setAttribute('type', 'button');
                        deleteButtonCenterpiece.className = 'btn btn-danger';
                        deleteButtonCenterpiece.textContent = 'x';
                        deleteButtonCenterpiece.onclick = function () {
                            removeInputCenterpiece(deleteButtonCenterpiece);
                        };
                
                        // Adiciona o input e o botão dentro do input-group
                        inputGroupDivCenterpiece.appendChild(deleteButtonCenterpiece);
                        inputGroupDivCenterpiece.appendChild(newInputCenterpiece);
                
                        // Adiciona o input-group ao container de inputs
                        newInputGroupCenterpiece.appendChild(inputGroupDivCenterpiece);
                
                        const inputContainerCenterpiece = document.getElementById('inputContainerCenterpiece');
                        inputContainerCenterpiece.appendChild(newInputGroupCenterpiece);
                    }
                
                    function removeInputCenterpiece(button) {
                        // Remove o grupo de input que contém o botão de excluir
                        const inputGroupCenterpiece = button.closest('.inputGroup');
                        inputGroupCenterpiece.remove();
                    }
                </script>

                <br><hr>
                
                <div class="position-fixed bottom-0 start-0 end-0 p-3 bg-light bg-gradient shadow-lg" style="z-index: 1050;">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary w-100 mb-2 custom-primary-link" type="button" href="{% url 'preview_contract' %}">
                                <i class="bi bi-caret-left"></i> Voltar
                            </a>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary w-100 custom-primary-link" data-toggle="modal"
                                    data-target="#modal" id="openModalBtn" name="openModalBtn">
                                Continuar <i class="bi bi-caret-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1"
                aria-labelledby="modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modalTitle">Contrato de Decoração</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                        </div>
                        
                        <div class="modal-body">
                            <!-- Contrato -->
                            <h5 class="text-center">Dados do cliente</h5>
                            <strong>Nome:</strong> <span id="clientNameSpan">Não informado</span> <br>
                            <strong>CPF:</strong> <span id="clientCpfSpan"></span> <br>
                            <strong>Telefone:</strong> <span id="clientPhoneSpan"></span> <br>
                            <strong>Endereço:</strong> <span id="clientAddressSpan"></span> <br>

                            <br>
                            <h5 class="text-center">Dados do contrato</h5>
                            <strong>Local do Evento:</strong> <span id="eventAddressSpan"></span><br>
                            <strong>Data do Evento:</strong> <span id="dateSpan"></span><br>
                            <strong>Horário do Evento:</strong> <span id="timeSpan"></span><br>
                            <strong>Valor do sinal:</strong> <span id="antecipatedSpan"></span><br>
                            <strong>Valor do deslocamento:</strong> <span id="displacementSpan"></span><br>
                            <strong>Valor do contrato:</strong> <span id="valueSpan"></span><br>

                            <div id="religiousP">
                                <br>
                                <h5 class="text-center">Religioso</h5>
                                <ol id="religiousList">
                                    <!-- Itens adicionais aparecerão aqui -->
                                </ol>
                            </div>
                            <div id="entraceP">
                                <br>
                                <h5 class="text-center">Hall de Entrada</h5>
                                <ol id="entraceList">
                                    <!-- Itens adicionais aparecerão aqui -->
                                </ol>
                            </div>
                            <div id="cakeP">
                                <br>
                                <h5 class="text-center">Mesa de Bolo</h5>
                                <ol id="cakeList">
                                    <!-- Itens adicionais aparecerão aqui -->
                                </ol>
                            </div>
                            <div id="courtesyP">
                                <br>
                                <h5 class="text-center">Cortesia</h5>
                                <ol id="courtesyList">
                                    <!-- Itens adicionais aparecerão aqui -->
                                </ol>
                            </div>
                            <div id="LiningP">
                                <br>
                                <h5 class="text-center">Forração</h5>
                                <ol id="LiningList">
                                    <!-- Itens adicionais aparecerão aqui -->
                                </ol>
                            </div>
                            <div id="ParentsTableP">
                                <br>
                                <h5 class="text-center">Mesa dos Pais</h5>
                                <ol id="ParentsTableList">
                                    <!-- Itens adicionais aparecerão aqui -->
                                </ol>
                            </div>
                            <div id="CenterpieceP">
                                <br>
                                <h5 class="text-center">Centro de Mesa</h5>
                                <ol id="CenterpieceList">
                                    <!-- Itens adicionais aparecerão aqui -->
                                </ol>
                            </div>
                            
                            <br>
                            <h5 class="text-center">Outras informações</h5>
                            <strong>Tipo de Contrato:</strong> Decoração <br>
                        </div>
                        

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Fechar</button>
                            <!-- <button type="submit" class="btn btn-primary" data-dismiss="modal" form="myForm">Salvar e enviar</button> -->
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#saveModal">
                                Salvar e Enviar
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header alert alert-warning">
                                            <h5 class="modal-title" id="saveModalLabel">Atenção!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            Deseja mesmo salvar este contrato?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                                            <button type="submit" class="btn btn-success" data-dismiss="modal" form="myForm">Sim</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                // Pega o botão que abre a modal e o campo de nome
                const openModalBtn = document.getElementById('openModalBtn');
                const modalElement = document.getElementById('modal');
                const nameInput = document.getElementById('name');
                const clientNameSpan = document.getElementById('clientNameSpan');
                const addressInput = document.getElementById('address');
                const clientAddressSpan = document.getElementById('clientAddressSpan');
                const eventAddressInput = document.getElementById('event-address');
                const eventAddressSpan = document.getElementById('eventAddressSpan');
                const cpfInput = document.getElementById('cpf');
                const clientCpfSpan = document.getElementById('clientCpfSpan');
                const phoneInput = document.getElementById('phone');
                const clientPhoneSpan = document.getElementById('clientPhoneSpan');
                const date = document.getElementById('date');
                const dateSpan = document.getElementById('dateSpan');
                const time = document.getElementById('event-time');
                const timeSpan = document.getElementById('timeSpan');
                const value = document.getElementById('event-value');
                const valueSpan = document.getElementById('valueSpan');
                const antecipated = document.getElementById('antecipated-value');
                const antecipatedSpan = document.getElementById('antecipatedSpan');
                const displacement = document.getElementById('displacement-value');
                const displacementSpan = document.getElementById('displacementSpan');

                function formatDateToBrazilian(dateStr) {
                    const [year, month, day] = dateStr.split("-");
                    return `${day}/${month}/${year}`;
                }
                
                // Adiciona um evento ao botão que abre a modal
                modalElement.addEventListener('shown.bs.modal', function () {

                    // Dados do cliente
                    if (nameInput.value.trim() != "") {
                        clientNameSpan.innerText = nameInput.value;
                    } else {
                        clientNameSpan.innerText = "Não informado";
                    }
                    if (addressInput.value.trim() != "") {clientAddressSpan.innerText = addressInput.value;} else {clientAddressSpan.innerText = null}
                    if (cpfInput.value.trim() != "") {clientCpfSpan.innerText = cpfInput.value;} else {clientCpfSpan.innerText = null}
                    if (phoneInput.value.trim() != "") {clientPhoneSpan.innerText = phoneInput.value;} else {clientPhoneSpan.innerText = null}

                    // Dados do contrato
                    if (eventAddressInput.value.trim() != "") {eventAddressSpan.innerText = eventAddressInput.value;} else {eventAddressSpan.innerText = null}
                    if (date.value.trim() != "") {dateSpan.innerText = formatDateToBrazilian(date.value);} else {dateSpan.innerText = null}
                    if (time.value.trim() != "") {timeSpan.innerText = time.value;} else {timeSpan.innerText = null}
                    if (value.value.trim() != "") {valueSpan.innerText = value.value;} else {valueSpan.innerText = null}
                    if (antecipated.value.trim() != "") {antecipatedSpan.innerText = antecipated.value;} else {antecipatedSpan.innerText = null}
                    if (displacement.value.trim() != "") {displacementSpan.innerText = displacement.value;} else {displacementSpan.innerText = null}

                    // Religioso
                    const religiousList = document.getElementById('religiousList');
                    const religiousP = document.getElementById('religiousP');
                    const additionalReligiousItems = document.querySelectorAll('[name^="religious"]');
                    religiousList.innerHTML = '';
                    additionalReligiousItems.forEach((item, index) => {
                        const religiousValue = item.value.trim();
                        if (religiousValue !== "") {
                            const li = document.createElement('li');
                            li.textContent = religiousValue;
                            religiousList.appendChild(li);
                            religiousP.style.display = "block"
                        }
                    });
                    if (religiousList.children.length === 0) {
                        religiousP.style.display = "none"
                    }
                    // Hall de Entrada
                    const entraceList = document.getElementById('entraceList');
                    const entraceP = document.getElementById('entraceP');
                    const additionalEntraceItems = document.querySelectorAll('[name^="entrace-hall"]');
                    entraceList.innerHTML = '';
                    additionalEntraceItems.forEach((item, index) => {
                        const entraceValue = item.value.trim();
                        if (entraceValue !== "") {
                            const li = document.createElement('li');
                            li.textContent = entraceValue;
                            entraceList.appendChild(li);
                            entraceP.style.display = "block"
                        }
                    });
                    if (entraceList.children.length === 0) {
                        entraceP.style.display = "none"
                    }
                    // Mesa de Bolo
                    const cakeList = document.getElementById('cakeList');
                    const cakeP = document.getElementById('cakeP');
                    const additionalCakeItems = document.querySelectorAll('[name^="cake-table"]');
                    cakeList.innerHTML = '';
                    additionalCakeItems.forEach((item, index) => {
                        const cakeValue = item.value.trim();
                        if (cakeValue !== "") {
                            const li = document.createElement('li');
                            li.textContent = cakeValue;
                            cakeList.appendChild(li);
                            cakeP.style.display = "block"
                        }
                    });
                    if (cakeList.children.length === 0) {
                        cakeP.style.display = "none"
                    }
                    // Cortesia
                    const courtesyList = document.getElementById('courtesyList');
                    const courtesyP = document.getElementById('courtesyP');
                    const additionalCourtesyItems = document.querySelectorAll('[name^="courtesy"]');
                    courtesyList.innerHTML = '';
                    additionalCourtesyItems.forEach((item, index) => {
                        const courtesyValue = item.value.trim();
                        if (courtesyValue !== "") {
                            const li = document.createElement('li');
                            li.textContent = courtesyValue;
                            courtesyList.appendChild(li);
                            courtesyP.style.display = "block"
                        }
                    });
                    if (courtesyList.children.length === 0) {
                        courtesyP.style.display = "none"
                    }
                    // Forração
                    const LiningList = document.getElementById('LiningList');
                    const LiningP = document.getElementById('LiningP');
                    const additionalLiningItems = document.querySelectorAll('[name^="Lining"]');
                    LiningList.innerHTML = '';
                    additionalLiningItems.forEach((item, index) => {
                        const LiningValue = item.value.trim();
                        if (LiningValue !== "") {
                            const li = document.createElement('li');
                            li.textContent = LiningValue;
                            LiningList.appendChild(li);
                            LiningP.style.display = "block"
                        }
                    });
                    if (LiningList.children.length === 0) {
                        LiningP.style.display = "none"
                    }
                    // Mesa dos Pais
                    const ParentsTableList = document.getElementById('ParentsTableList');
                    const ParentsTableP = document.getElementById('ParentsTableP');
                    const additionalParentsTableItems = document.querySelectorAll('[name^="ParentsTable"]');
                    ParentsTableList.innerHTML = '';
                    additionalParentsTableItems.forEach((item, index) => {
                        const ParentsTableValue = item.value.trim();
                        if (ParentsTableValue !== "") {
                            const li = document.createElement('li');
                            li.textContent = ParentsTableValue;
                            ParentsTableList.appendChild(li);
                            ParentsTableP.style.display = "block"
                        }
                    });
                    if (ParentsTableList.children.length === 0) {
                        ParentsTableP.style.display = "none"
                    }
                    // Centro de Mesa
                    const CenterpieceList = document.getElementById('CenterpieceList');
                    const CenterpieceP = document.getElementById('CenterpieceP');
                    const additionalCenterpieceItems = document.querySelectorAll('[name^="Centerpiece"]');
                    CenterpieceList.innerHTML = '';
                    additionalCenterpieceItems.forEach((item, index) => {
                        const CenterpieceValue = item.value.trim();
                        if (CenterpieceValue !== "") {
                            const li = document.createElement('li');
                            li.textContent = CenterpieceValue;
                            CenterpieceList.appendChild(li);
                            CenterpieceP.style.display = "block"
                        }
                    });
                    if (CenterpieceList.children.length === 0) {
                        CenterpieceP.style.display = "none"
                    }
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}