.link-sem-sublinhado {
    text-decoration: none;
}
body {
    background-color: #e3e1de !important;
}
.horizontal-full {
    width: 100% !important;
}
.botoes-negociacao {
    padding-left: 100% !important;
}